@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #00d9e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background-color: #00d9e8;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('Home_pic.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.12rem;
    /* change here */
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 42rem;
}

.home-content .text-animate h3 {
    /* change here */
    font-size: 2rem;
    font-weight: 500;
    color: transparent;
    white-space: nowrap;
    -webkit-text-stroke: .7px #00d9e8;
    background-image: linear-gradient(#00d9e8, #00d9e8);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 100%;
}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid #00d9e8;
    z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}


.home-content p {
    position: relative;
    font-size: 1.9rem;
    margin: 2rem 0 4rem;
    line-height: 1.7;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.05rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: #00d9e8;
    border: .2rem solid #00d9e8;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: #00d9e8;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #00d9e8;
    white-space: nowrap;
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: #00d9e8;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid #00d9e8;
    border-radius: 50%;
    font-size: 20px;
    color: #00d9e8;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00d9e8;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: #00d9e8;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    position: relative;
    border-left: .2rem solid #00d9e8;                                                                                               
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #00d9e8;
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00d9e8;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #112e42;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: #00d9e8;
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content h3 a {
    font-size: 2rem;
    font-weight: normal;
    margin-left: 0.5rem;
    text-decoration: underline;
    color: #00d9e8;
}

.education-content .content h4 {
    font-size: 1.4rem;
    padding-top: .5rem;
    font-style: italic;
    font-weight: normal;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.achievements {
    min-height: 100vh; 
    padding: 10rem 9% 2rem; 
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievements h2 {
    font-size: 3rem;
    margin-bottom: 3rem; 
    text-align: center;
}

.achievements-container {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding-bottom: 3rem;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.achievements-container::-webkit-scrollbar {
    height: 10px;
}
.achievements-container::-webkit-scrollbar-thumb {
    background: #00d9e8;
    border-radius: 5px;
}
.achievements-container::-webkit-scrollbar-track {
    background: #eee;
}

.achievement-card {
    flex: 0 0 300px;
    height: 350px;
    background: #112e42;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0,0,0,0.3);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.certificate-img {
    flex: 0 0 45%;
    background: #ddd;
}

.certificate-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.certificate-info {
    flex: 1;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.certificate-info h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: white;
}

.certificate-info p {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 0.8rem;
}

.view-btn {
    padding: 6px 20px;
    background: linear-gradient(to right, #00bfff, #007fff);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.view-btn:hover {
    background: linear-gradient(to right, #007fff, #0055aa);
}

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: #112e42;
}

.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills-icon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  padding: 20px;
  max-width: 800px; 
  margin: 0 auto;   
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  padding: 10px;
}

.skill img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.skill p {
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.skill:hover {
  transform: scale(1.1);
}

.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

.contact h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.contact .heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.heading span {
  color: #00d9e8;
}


.form-sec {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row input {
  flex: 1;
  padding: 15px;
  background-color: #0d1a2d;
  border: 2px solid #00d9e8;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.contact textarea {
    height: 250px;
    padding: 15px;
    background-color: #0d1a2d;
    border: 2px solid #00d9e8;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    resize: none;
}

.sbt-btn {
  display: block;
  margin: 0 auto;
  padding: 12px 30px;
  background: linear-gradient(to right, #00bfff, #007fff);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sbt-btn:hover {
  background: linear-gradient(to right, #007fff, #0055aa);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #00d9e8;
    border: .2rem solid #00d9e8;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: #00d9e8;
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}


.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll {
    background: var(--second-bg-color);
}

.education .education-box .animate.scroll {
    width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.achievements.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--second-bg-color);
    background: #00d9e8;
}

::selection {
    color: var(--second-bg-color);
    background: #00d9e8;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 850px) {
    .animate.home-img {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #00d9e8;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home {
        min-height: auto;
        padding: 8rem 4% 4rem;
    }

    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }

    section {
        padding: 8rem 4% 2rem;
    }
}

@media (max-width: 700px) {

    .form-row { 
        flex-direction: column; 
    }

    .form-row input { 
        width: 100%; 
    }

    .contact textarea { 
        height: 200px; 
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-content .text-animate { 
        width: 100%; 
    }

    .home-content .text-animate h3 {
        white-space: normal;              /* allow wraps */
        font-size: 1.8rem;
        -webkit-text-stroke: 0;           /* solid text for readability on mobile */
        background-image: none;
        color: #00d9e8;
    }

    .home-content .text-animate h3::before { 
        content: none; 
    } /* remove typing bar */

    .home-sci {
        position: static;
        margin-top: 2rem;
        width: auto;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }

    .btn-box {
        width: 100%;
        gap: 1.2rem;
        flex-wrap: wrap;
        height: auto;
    }

    .btn-box .btn {
        width: calc(50% - .6rem);    /* two in a row */
        height: 4.4rem;
        font-size: 1.6rem;
    }

    .btn-box .btn:nth-child(2) { 
        white-space: normal; 
    }

    .skills-icon {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        padding: 12px;
    }

    .skill img { 
        width: 80px; height: 80px; 
    }

    .skill p { 
        font-size: 1.2rem; 
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 4.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .education-content .content h3,
    .education-content .content h3 a { 
        font-size: 1.8rem; 
        word-break: break-word; 
    }

    .education-content .content p { 
        font-size: 1.4rem; 
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer-iconTop { 
        margin-bottom: 1rem; 
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 420px) {

    .home-content h1 { 
        font-size: 4.2rem; line-height: 1.25; 
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}


/* KEYFRAMES ANIMATION */
@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}